.mod_world_of_logs {
    width: 100%;
}

.mod_world_of_logs td,
.mod_world_of_logs th {
    padding: 2px;
}

.mod_world_of_logs .bossCount,
.mod_world_of_logs .killCount,
.mod_world_of_logs .wipeCount {
    text-align: center;
}